body {
    background-color: #f7f7f7;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    background-color: #fff;
    height: 70px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.profile {
    margin-left: auto;
}

.header .logo {
    height: 150px;
}

.header nav {
    flex-grow: 1;
    text-align: center;
}

.header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
}

.header nav ul li {
    margin: 0 20px;
}

.header nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease;
}

.header nav ul li a:hover {
    color: #f37410;
}

.profile {
    margin-left: auto;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #f37410;
    margin: 20px;
}

.profile-pic img {
    width: 100%;
    height: auto;
}

.main {
    margin-top: 80px;
    width: 100%;
}

.dashboard {
    margin: 100px 0;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.dashboard-section {
    position: relative;
    background: url(img/dashboard1.jpg) no-repeat center center/cover;
    padding: 150px 20px;
    text-align: center;
    margin-top: 60px;
    border-radius: 15px;
    overflow: hidden;
}

.dashboard-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dashboard-section h1,
.dashboard-section p,
.dashboard-section .btn {
    color: white;
    position: relative;
    z-index: 2;
}

.dashboard-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.dashboard-section p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.dashboard-section .btn {
    background-color: #f37410;
    border-color: #f37410;
    padding: 10px 20px;
    font-size: 1.25rem;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.dashboard-section .btn:hover {
    background-color: #e9630a;
}

.dashboard-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: bottom 0.3s ease;
}

.dashboard-card:hover .image-overlay {
    opacity: 1;
}

.dashboard-card:hover .card-title,
.dashboard-card:hover .card-desc,
.dashboard-card:hover .btn {
    color: white;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.dashboard-card .btn {
    position: relative;
    z-index: 1;
}

.dashboard-card:hover {
    transform: scaleY(1.05);
}

.image-overlay img {
    max-width: 100%;
    height: auto;
    border-radius: 0 0 15px 15px;
}

.btn-primary {
    background-color: #f37410;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 25px;
}

.btn-primary:hover {
    background-color: chocolate;
}

.btn-outline-light {
    color: #f37410;
    border: 2px solid #f37410;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
}

.btn-outline-light:hover {
    background-color: #f37410;
    color: #fff;
}

.login-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    margin: 100px auto;
}

.login-box {
    padding: 50px;
    width: 50%;
    color: #333;
}

.login-box h1 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.login-box p {
    color: #777;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.5;
}

.login-box .form-control {
    height: 45px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 15px;
    box-shadow: none;
}

.login-box .btn {
    height: 50px;
    font-size: 18px;
    background-color: #000;
    color: white;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.login-box .btn:hover {
    background-color: #444;
}

.social-login img {
    width: 40px;
    height: 40px;
}

.social-login a {
    margin: 0 10px;
}

.login-box .text-center span {
    font-size: 14px;
}

.login-box .text-muted {
    font-size: 14px;
    margin-left: auto;
    text-decoration: none;

}

.login-box .text-muted:hover {
    text-decoration: underline;

}

.login-box .register-link {
    color: #f37410;
    font-weight: bold;
    text-decoration: none ;
}

.login-box .register-link:hover {
    color:chocolate;
}

.side-image {
    display: flex;
    width: 50%;
   align-items: center;
   justify-content: center;
   padding: 0;
}

.side-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0 15px 15px 0;
}

.footer {
    background-color: #fff;
    color: #777;
    box-shadow: 0 --2px 10px rgba(0, 0, 0, 0.1);
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #f37410;
}

@media(min-width: 992px) {
    .login-box .side-image {
        width: 100%;
    }

    .login-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: none;
    }

    .side-image {
        display: block;
    }

}